.interFormContainer {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 150px auto; */
  height: 720px;
}

.card-custom {
  border-bottom-left-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  background-color: #f8f9fa;
}

.input-custom {
  background-color: white;
}

.white-text {
  color: hsl(52, 0%, 98%);
  font-weight: 100;
  font-size: 14px;
}

.back-button {
  background-color: hsl(52, 0%, 98%);
  font-weight: 700;
  color: black;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .contentInterForm {
    flex-direction: column-reverse !important;
    margin-top: 500px !important;
    margin-bottom: 70px;
  }
}
